:root {
    --brand-color: #E5E5E5;
    --brand-color: #2E2F42;
    --brand-color: #4D5AE5;
    --brand-color: #2E2F42;
}

body {
    font-size: 16px;
    font-weight: 400px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

.list {
    list-style-type: none;
}



.option-title{
    font-size: 20px;
    line-height: 1.2;
    color: var(--brand-color NAVY BLUE);
}

.logo-first {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.logo-second {
    color: #2E2F42;
    text-decoration: none;
}

.addreess-link {
    font-style: normal;
    color: var(--brand-color);   
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
}

.address-link {
    font-style: normal;
    color: var(--brand-color);
    text-decoration: none;   
    list-style: none;
    line-height: 1.5;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
}


.battons {   
    background: #404BBF;
    cursor: pointer;

}

.hero-title {
    color: var(--brand-color);
    font-size: 20px;
    line-height: 1.2;
}

.info-one {
    font-size: 16px;
    line-height: 1.5;  
    color: var(--brand-color #434455);
}

.info-second {
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color #434455);
}

.buttun {
    background: #4D5AE5;
    cursor: pointer;

}

button {
    cursor: pointer;
    background: #F4F4FD;
}

.hero-title {
   color: #2E2F42;
}

.page-title {
    color: #2E2F42;
}