:root {
    --main-color: #E5E5E5;
    --second-color: #2E2F42;
    --third-color: #4D5AE5;
    --fourth-color: #2E2F42;
    --adress-colour: #434455;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

.list {
    list-style-type: none;
}



.option-title{
    font-size: 20px;
    line-height: 1.2;
    color: var(--brand-color NAVY BLUE);
    font-weight: 500px;
    letter-spacing: normal;
}

.logo-first {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.logo-second {
    color: #2E2F42;
}

.addreess-link {
    font-style: normal;
    color: var(--adress-colour);   
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
}

.address-link {
    font-style: normal;
    color: var(--adress-colour);
    text-decoration: none;   
    list-style: none;
    line-height: 1.5;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--second-color);
    text-decoration: none;
}


.battons {   
    background: #404BBF;
    cursor: pointer;

}

.hero-title {
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.2;
}

.info-one {
    line-height: 1.5;  
    letter-spacing: normal;
    color: #434455;   
}

.info-second {
    line-height: 1.5;
    letter-spacing: normal;
    color: #434455;
}

.buttun {
    background: #4D5AE5;
    cursor: pointer;
    color: var(--main-color);

}

button {
    cursor: pointer;
    background: var(--main-color);
}

.team-title {
   color: #2E2F42;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.page-title {
    background-color: #2E2F42;
}

.footer {
    background: var(--second-color);   
}

.page-header {
    color: var(--main-color);
}

li {
    list-style-type: none;
}

.info-seconds {
    color: var(--main-color);
    line-height: 1.5;   
}

.team-mate {
    background: #F4F4FD;   

}

.team {
    background-color: #F4F4FD;
}